<nav class="header-navigation">
    <ul>
     {% for link in section.settings.menu.links %}     
         <li class="sub-menu-parent {{ menu_type }}">
           <a href="{{ link.url }}">{{ link.title }}</a>
           <div class="sub-menu{% if section.settings.drop_shadow %} with-shadow{% endif %}">
           <ul>
             {% for childlink in link.links %}
             <li>
               <a href="{{ childlink.url }}">{{ childlink.title }}</a>
               {% if childlink.links.size > 0 %}
                 <ul class="sub-sub-menu">
                   {% for grandchildlink in childlink.links %}
                   <li>
                     <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                   </li>               
                   {% endfor %}
                 </ul>
               {% endif %}
             </li>           
             {% endfor %}
           </ul>
           </div>
         </li>       
     {% endfor %}
    </ul>
  </nav>