{% assign logo_with = section.settings.logo_width %}

{% capture logo %}
  <div class="header-logo">
    {% if section.settings.logo != blank %}
      {{ section.settings.logo | image_url: width: logo_with | image_tag }}
    {% else %}
      {{ shop.name }}
    {% endif %}
  </div>
{%  endcapture %}

{% capture nav %}
  <div class="header-nav">
    {% for link in section.settings.menu.links %}
      <div class="header-nav-item">
        <a href="#">
          <span>{{ link.title }}</span>
        </a>
        {% for childlink in link.links %}
          <div class="child-link">
            <a href="#">
              
            </a>
          </div>
        {%  endfor %}
      </div>
    {% endfor %}
  </div>
{%  endcapture %}

{% capture icons %}
  <div class="header-icons">
    <a href="#">I</a>
    <a href="#">C</a>
    <a href="#">S</a>
  </div>
{%  endcapture %}

<div class="header">
  <div class="header-inner logo-{{ section.settings.logo_position }}">
    {% if section.settings.logo_position == 'left' %}
      {{ logo }}
      {{ nav }}
      {{ icons }}
    {% endif %}
    {% if section.settings.logo_position == 'center' %}
      {{ nav }}
      {{ logo }}
      {{ icons }}
    {% endif %}
    {% if section.settings.logo_position == 'right' %}
      {{ nav }}
      {{ icons }}
      {{ logo }}

    {% endif %}
    {% if section.settings.logo_position == 'top' %}
      {{ logo }}
      <div class="header-row">
        {{ nav }}
        {{ icons }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }, {
        "type": "range",
        "id": "logo_width",
        "min": 200,
        "max": 300,
        "step": 1,
        "unit": "px",
        "default": 200,
        "label": "Logo Width"
      }, {
        "type": "select",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }, {
            "value": "right",
            "label": "Right"
          }, {
            "value": "top",
            "label": "Top"
          }
        ],
        "default": "left"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ],
    "enabled_on": {
      "templates": ["index"]
    }
  }
{% endschema %}