{% liquid
  assign logo_with = section.settings.logo_width
  assign menu_type = section.settings.menu_type
  if menu_type == 'dropdown'
    assign menu_type = menu_type
  else if menu_type == 'mega-menu'
    assign menu_type = menu_type
  endif
%}


{% capture logo %}
  <div class="header-logo">
    {% if section.settings.logo != blank %}
      {{ section.settings.logo | image_url: width: logo_with | image_tag }}
    {% else %}
      <h1>{{ shop.name }}</h1>
    {% endif %}
  </div>
{%  endcapture %}

{% capture nav %}  
  {% if section.settings.menu_type == 'burger' %}
    <div class="burger-navigation">
      <div class="nav-burger">
          <div class="burger-icon">
              <span class="one"></span>
              <span class="two"></span>
              <span class="three"></span>
          </div>
      </div> 
      <div class="burger-menu">
          {% render 'navigation', menu_type: section.settings.menu_type %}
      </div>
  </div>
  {% else %}
    {% render 'navigation', menu_type: section.settings.menu_type %}
  {% endif %}
{% endcapture %}

{% capture icons %}
  <div class="header-icons">
    <a href="#" class="icon-header">{% render 'icon-search' %}</a>
    <a href="#" class="icon-header">{% render 'icon-account' %}</a>
    <a href="#" class="icon-header icon-header-cart">{% render 'icon-cart' %}</a>
  </div>
{%  endcapture %}

<div class="header page-width">
  <div class="header-inner logo-{{ section.settings.logo_position }}">
    {% if section.settings.logo_position == 'left' %}
      {{ logo }}
      {{ nav }}
      {{ icons }}
    {% endif %}
    {% if section.settings.logo_position == 'center' %}
      {{ nav }}
      {{ logo }}
      {{ icons }}
    {% endif %}
    {% if section.settings.logo_position == 'right' %}
      {{ nav }}
      {{ icons }}
      {{ logo }}

    {% endif %}
    {% if section.settings.logo_position == 'top' %}
      {{ logo }}
      <div class="header-row">
        {{ nav }}
        {{ icons }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "min": 200,
        "max": 300,
        "step": 10,
        "unit": "px",
        "default": 200,
        "label": "Logo Width"
      },
      {
        "type": "select",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, 
          {
            "value": "center",
            "label": "Center"
          }, 
          {
            "value": "right",
            "label": "Right"
          }, 
          {
            "value": "top",
            "label": "Top"
          }
        ],
        "default": "left"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, 
      {
        "type": "select",
        "id": "menu_type",
        "label": "Menu Type",
        "options": [
          {
            "value": "dropdown",
            "label": "Dropdown"
          }, 
          {
            "value": "mega-menu",
            "label": "Mega Menu"
          }, 
          {
            "value": "burger",
            "label": "Burger"
          }
        ],
        "default": "dropdown"
      }, 
      {
        "type": "checkbox",
        "id": "drop_shadow",
        "label": "Enable Drop Shadow",
        "default": true
      },
      {
        "type": "header",
        "content": "Section Layout"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 40,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 40,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 20
      }   
    ],
    "enabled_on": {
      "templates": ["index"]
    }
  }
{% endschema %}